@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100vw;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
